<header>
  <h1>Perceptron Visualizer</h1>
</header>
<main>
  <div class="container">
    <p class="text-center description">
      Visualize how data which can be divided <br>by a line can be learned by a perceptron.
    </p>

    <div class="perceptron-visualizer-container">
      {{perceptron-visualizer
        mode=visualizerMode
        reset=visualizerReset
        trainingLines=trainingLines
        onPointAdded=(action 'pointAdded')
        onIdealLineUpdated=(action 'idealLineUpdated')
        onTrainingLineUpdated=(action 'trainingLineUpdated')
      }}
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary" {{action (action 'changeModesClicked')}}>Change Modes to {{#if visualizerMode}}Select Training Points{{else}}Set Ideal Line{{/if}}</button>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-warning" {{action (action 'resetClicked')}}>Reset</button>
    </div>

    <h2>Ideal Line</h2>
    <p class="equation">y = {{#if idealLineSlope}}{{idealLineSlope}}{{else}}m{{/if}}x + {{#if idealLineOffset}}{{idealLineOffset}}{{else}}b{{/if}}</p>

    <h2>Trained Line</h2>
    <p class="equation">y = {{#if trainedLineSlope}}{{trainedLineSlope}}{{else}}m{{/if}}x + {{#if trainedLineOffset}}{{trainedLineOffset}}{{else}}b{{/if}}</p>
    
    <h2>Learning Data</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Weights</th>
          <th>Weight Changes</th>
          <th>Threshold</th>
          <th>Output</th>
          <th>Result</th>
          <th>Change</th>
          <th>Slope</th>
          <th>Offset</th>
        </tr>
      </thead>
      <tbody>
        {{#each learningDatas as |learningData|}}
        <tr>
          <td>[{{learningData.weights}}]</td>
          <td>[{{learningData.weightChanges}}]</td>
          <td>{{learningData.threshold}}</td>
          <td>{{learningData.output}}</td>
          <td>{{learningData.result}}</td>
          <td>{{learningData.weightsChanged}}</td>
          <td>{{learningData.slope}}</td>
          <td>{{learningData.offset}}</td>
        </tr>
        {{else}}
        <tr>
          <td colspan="4">Make Ideal Line</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <h2>Training Data</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Point</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        {{#each trainingPoints as |point|}}
        <tr>
          <td>({{point.x}},{{point.y}})</td>
          <td>{{point.result}}</td>
        </tr>
        {{else}}
        <tr>
          <td colspan="2">Select points</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="text-center">
      <button type="button" class="btn btn-primary">Train</button>
    </div>
  </div>
</main>
